.legend-a, .legend-a:hover {
  color: #1DC7EA !important; }

.legend-b, .legend-b:hover {
  color: #FB404B !important; }

.legend-c, .legend-c:hover {
  color: #FFA534 !important; }

.legend-d, .legend-d:hover {
  color: #9368E9 !important; }

.legend-e, .legend-e:hover {
  color: #87CB16 !important; }

.legend-f, .legend-f:hover {
  color: #1b8dff !important; }

.legend-g, .legend-g:hover {
  color: #5e5e5e !important; }

.legend-h, .legend-h:hover {
  color: #FF80AB !important; }

.legend-i, .legend-i:hover {
  color: #35465c !important; }

.legend-j, .legend-j:hover {
  color: #9C27B0 !important; }

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #1DC7EA; }

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #FB404B; }

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #FFA534; }

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #9368E9; }

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #87CB16; }

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: #1b8dff; }

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #5e5e5e; }

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #FF80AB; }

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #35465c; }

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #9C27B0; }

a.legend {
  color: black;
}

/* for the date inputs - didn't want to make an 
entirely new file for something so small */
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 1s 1s ease; 
  opacity: 0;
}

.date-picker {
  font-size: 20px;
  margin-bottom: 29px;
}

.navbar-default .navbar-nav > li > a:not(.btn) [class^="fa"] {
  color: red;
  font-size: 30px;
  margin-right: 10px;
}